/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 * Modified By Edwin Marte http://ntono.com
 */
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
  color: #222; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #222;
  background-color: #222; }

.reveal {
  font-family: "Quicksand", sans-serif, Helvetica, sans-serif;
  font-size: 1.6em;
  font-weight: normal;
  color: #fff; }

::selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #fff;
  font-family: "Quicksand",sans-serif Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.5em; }

.reveal h2 {
  font-size: 1.6em; }

.reveal h3 {
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.2; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #42affa;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #8dcffc;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #068de9; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
 }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #42affa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }



/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #42affa; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #42affa; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #42affa; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #42affa; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #8dcffc; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #8dcffc; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #8dcffc; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #8dcffc; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #42affa;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * LOGOTYPE
 *********************************************/

.logo_animation{
    min-height:5em;
    max-width: 518px;
    margin-left:auto !important;
    margin-right:auto !important;
    position: relative;
   
 }
 .logo{
    position: relative;
    animation-name:logo;
    animation-duration: 3s;
 }
 .logo_animation .logo_circ{
  position:absolute;
  top:65px;

 }
 .logo_personajes{
  position: fixed;
  display: block;
  visibility: hidden;
  z-index:100;
  top: -30%;
  left:80%;
  -webkit-animation: banda 25s forwards 3s;
  animation: banda 25s forwards 3s;


 }

 @keyframes banda{
    0%{
      visibility: visible;
      top: -30%;
      left:60%;
      transform: rotate(0deg);
    }
    15%{
      transform: rotate(15deg);
    }
    30%{
      transform: rotate(-5deg);
    }
    45%{
      transform: rotate(15deg);
    }
    80%{
      transform: rotate(-20deg);
    }
    100%{
      top:100%;
      left:100%;
    }
  }

/*********************************************
 * ------------- QUIENES SOMOS-----------------
 *********************************************/

.container-list{
  max-height:40px;
  position:relative;
  display:flex;
  width:auto;
  max-height:1.3em;
  position:absolute;
  overflow:hidden;
  line-height:40px;
  vertical-align:middle;
  
}

.container-list p, ul{
  margin:0px;
}

ul.list{
  margin-left:10px;
  padding-left:0px;
  padding-top:-2px;
  list-style: none;
  color:black;
  display: inline-block;
  animation: list 5s ease-in-out infinite 3s;
 }

 @keyframes list {
    0%{ margin-top:0px; visibility: visible;}

    30%{ margin-top:0px;}

    35%{ margin-top:-33px;}
    60%{ margin-top:-33px;}

    65%{ margin-top: -66px;}
    95%{ margin-top: -66px;}

    97%{ margin-top: -90px; visibility: hidden;}
    100%{margin-top:0px; visibility: hidden;}
 }

 .arrow{
    position: relative;
    animation: flecha 1s ease-in-out infinite 10s;
    opacity:0;
 }

 @keyframes flecha{
    0%{
        opacity:.5;
      }
    50%{
        transform: translateY(20px);
        opacity:.7;
      }
    100%{
      transform: translateY(0px);
      opacity:.6;
      
    }
 }


/*********************************************
 * --------- Slide de servicios --------------
 *********************************************/
 .servicios{
    overflow: hidden;
 }
 .servicios ul {
    list-style:none;
    min-height: 200px;
    margin-left:0px;
    width:100%;
 }

 .servicios ul li{
    display:inline-block;
    width:200px;
    padding:10px;
    margin-left:10px;
   /* background-color:#727373;*/
    text-align: center;
    vertical-align:top;
    font-size:0.6em;
    position:relative;
    opacity:0;
 }

 .servicios ul li:nth-child(1){
    animation: entrada 1s linear forwards;
 }
 .servicios ul li:nth-child(2){
    animation: entrada 1s linear forwards 0.33;
 }
 .servicios ul li:nth-child(3){
    animation: entrada 1s linear forwards 0.66;
 }
 .servicios ul li:nth-child(4){
    animation: entrada 1s linear forwards 0.90;
 }

  @keyframes entrada{
    from{
        opacity: 0;
        transform:translateX(-50px);
      }to{
        opacity:1;
        transform:translateX(0px);
      }
  }


 .servicios img{
  max-height: 85px;
  opacity:.8;
 }

 .servicios img:hover{
  opacity:1;
 }

.sevicios .spinner {
  width:100px;
  height:100px;
  background:#eee;
  border-radius:50%;
  position:relative;
  display:inline-block;
}


 .servicios ul li div::after, .servicios ul li div::before;{
    content:'';
    display:block;
    width:100px;
    height:100px;
    border-radius: 50%;
  }

.servicios .spinner{
 /* width:100px;
  height:100px;*/
  background: #cecece;
  border-radius:50%;
  position: relative;
  margin: 20px;
  display:inline-block;
  animation: cir 2s linear infinite;
}

.servicios span{
  display: block;
}

.servicios .spinner::after, .servicios .spinner::before{
  content:'';
  display:block;
  width:70px;
  height:70px;
  border-radius:50%;
}

.servicios .spinner1::after{
  position:absolute;
  top:-4px;
  left:-4px;
  border:4px solid transparent;
  border-top-color:red;
  border-bottom-color:red;
  animation: circ 2s linear infinite;
}

  @keyframes cir{
    0%{
      transform:rotate(0deg) scale(1);
    }
    50%{
      transform: rotate(180deg) scale(0.8);
    }
    100%
    {
      transform:rotate(360deg) scale(1);
      }
  }

  @keyframes circ{
    0%{
      transform:rotate(0deg) scale(1);
    }
    50%{
      transform: rotate(180deg) scale(1.2);
    }
    100%
    {
      transform:rotate(360deg) scale(1);
      }
  }

  .serv{
    visibility: hidden;
    position:;
  }

 
/*********************************************
 * ---------------- Diseño Web --------------
 *********************************************/

 ul.web{
  max-width:70%;
  width: 100%;
  display: inline-block;
  text-align: center;
  align-content: center;
  vertical-align: bottom;
  list-style: none;
  margin:0px;

 }


 ul.web .web1{
  height:330px;
  min-height: 330px;
  min-width:215px;
  background-image:url("../../assets/web_armid.jpg");
  background-size: cover;
  display:inline-block;
 }

  ul.web .web2{
  min-height: 350px;
  min-width:215px;
  background-image:url("../../assets/web_inafocam.jpg");
  background-size: cover;
  display:inline-block;
 }

  ul.web .web3{
  min-height: 330px;
  min-width:215px;
  background-image:url("../../assets/web_marudavila.jpg");
  background-size: cover;
  display:inline-block;
 }

 div.web_content{
  background-color:rgba(0, 0, 0, .8);
  width:185px;
  height: 0;
  font-size: 0.5em !important;
  padding: 15px 15px 0px 15px!important;
  position:absolute;
  bottom:6px;
  opacity: 0;
  overflow: hidden;

 }

 div.web_content p{font-size:.8em;}

 ul.web li.web-a:hover{
  background-size:97%;
  transition-timing-function: 3s linear;
  -webkit-transition-timing-function: 3s linear;
 }

 /*ul.web li.web1:hover div.web_content, ul.web li.web2:hover div.web_content, ul.web li.web3:hover div.web_content*/
 ul.web li.web-a:hover div.web_content{
  opacity:1;
  animation: texto .6s ease-out forwards;
 }

 @keyframes texto{
  from{
      height:0px;
      opacity: 0;
    }to{
      height: auto;
      opacity: 1;
    }
 }

 /*********************************************
 * ---------------- Animación --------------
 *********************************************/

 .animacion ul {
    list-style:none;
    margin-left:0px;
    max-height:100px;
 }

 .animacion ul li{
    display:inline-block;
    width:80px;
    height:80px;
    border-radius:50%;
    font-size:.5em;
    text-align: center;
    position:relative;
    margin:10px;
    vertical-align:-webkit-baseline-middle;
    box-shadow: inset 0px 0px 15px #101010;
 }

  .animacion ul li span{
    position:absolute;
    top:26px;
    left:0;
    right:0;
    font-weight: bold;

  }

 .btn_animation{
  width:61px;
  height:39px;
  background-image:url(../../assets/play.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color:rgba(0, 0, 0, .3);
  position:absolute;
  top:-0.5px;
  left:-0.5px;
  padding:40% 10px 10px 10px!important;
  border-radius:50%;
  opacity:0;
 }

  .animacion ul li:nth-child(1){
    background-color:;
  }
  .animacion ul li:nth-child(1){
    background-color:;
  }
  .animacion ul li:nth-child(1){
    background-color:;
  }

.animacion ul li:hover .btn_animation{
  animation: btn .5s ease-in-out forwards;
}
.animacion ul li:focus .btn_animation{
  background-image:none;
  animation: btn .3s ease-in-out forwards;

}

 @keyframes btn{
    from{
      opacity:0;
      filter:blur(3px);
    }
    to{
      opacity:1;
      filter:blur(0px);
    }
 }

  /*********************************************
 * --------------- Streaming ------------------
 *********************************************/

 .streaming-container{
    width:250px;
    height:auto;
    padding: 15px 15px 20px 15px!important;
    background-color:rgba(0, 0, 0, .6);
    border-radius: 0px 31px 0px 21%;
    font-size: .55em !important;
    position:absolute;
    opacity:.3;
 }

 .streaming-container h2{
    text-shadow:1px 1px 2px #000;
    border-bottom:1.2px solid #adadad;
    padding-bottom:12px;
 }

 .streaming-container p{ color:d6d6d6; }

 .streaming-container:hover{
    opacity:1;
    background-color:rgba(0, 0, 0, .8);
    transition-timing-function: 1s linear forwards;
    transition: linear;
 }